hidden=[".config"]
modules = ["nodejs-20", "python-3.11", "web"]

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[[ports]]
localPort = 10000
externalPort = 80
