<!DOCTYPE html>
<html class="__variable_9b9fd1 font-poppins __variable_c4db31 font-mona-sans" lang="en">

<head>

    <!-- Other head content like title, meta tags etc. -->
    <style>
        
        .landing-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            flex-wrap: wrap;
        }

        .landing-container .content {
            flex: 1;
            text-align: left;
            padding: 2rem;
        }

        .landing-container .display {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .landing-container video {
            max-width: 100%;
            height: auto;
            border-radius: 1rem;
        }

        @media (max-width: 768px) {
            .landing-container {
                flex-direction: column;
                text-align: center;
            }

            .landing-container .content,
            .landing-container .display {
                width: 100%;
                padding: 1rem;
            }
        }
    </style>

    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="static/media/0484562807a97172-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/232bb429c9a5a4c9-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/4c285fdca692ea22-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/6245472ced48d3be-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/7108afb8b1381ad1-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/7db6c35d839a711c-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/8888a3826f4a3af4-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/9e82d62334b205f4-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/b957ea75a84b6ea7-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" href="static/media/eafabf029ad39a43-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="preload" as="image" href="static/img/Hamburger.png" />
    <link rel="preload" as="image" href="/img/IconRed.svg" />
    <link rel="stylesheet" href="static/css/be73389ea541fa42.css" data-precedence="next" />
    <link rel="stylesheet" href="static/css/ea9de1475d349f4b.css" data-precedence="next" />
    <link rel="stylesheet" href="static/css/bb20181484404e11.css" data-precedence="next" />
    <link rel="stylesheet" href="static/css/529c907a67dae89f.css" data-precedence="next" />
    <link rel="preload" as="script" fetchPriority="low" href="static/chunks/webpack-dd7356c90471c814.js" />
    <script src="static/chunks/fd9d1056-d61eba0ffaeaab7e.js" async=""></script>
    <script src="static/chunks/7023-56b8be63c41694c2.js" async=""></script>
    <script src="static/chunks/main-app-b8d8f654a4c3de8b.js" async=""></script>
    <script src="static/chunks/7961-d0a9edfa7bd576b0.js" async=""></script>
    <script src="static/chunks/7138-4fff2a7401c2c64f.js" async=""></script>
    <script src="static/chunks/8173-12a04050ed219148.js" async=""></script>
    <script src="static/chunks/1877-3c26fc55a75e2592.js" async=""></script>
    <script src="static/chunks/1245-944e98cd2f0d73b7.js" async=""></script>
    <script src="static/app/(landing%20page)/page-8d7f59c0e6285273.js" async=""></script>
    <script src="static/chunks/7ce798d6-4ab14e948af6454a.js" async=""></script>
    <script src="static/chunks/4073-f681c34e8bfe3068.js" async=""></script>
    <script src="static/chunks/7294-4479086851e44b79.js" async=""></script>
    <script src="static/chunks/1965-09c8dc1908315950.js" async=""></script>
    <script src="static/chunks/5232-f960c972ccaecbb0.js" async=""></script>
    <script src="static/app/not-found-360405ea50ea3785.js" async=""></script>
    <script src="static/app/layout-5c8ef0f784cc615c.js" async=""></script>
    <link rel="preload" href="js/landing-main.js" as="script" />
    <link rel="preload" href="https://www.googletagmanager.com/gtm.js?id=GTM-M79GJRJG" as="script" />
    <link rel="preload" href="static/js/tracking.js" as="script" />
    <title> Watch together on Netflix, Youtube, HBO Max + more</title>
    <meta name="description"
       
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="48x48" />
    <link rel="icon" href="/icon.png?0342ab3008d8a58f" type="image/png" sizes="32x32" />
    <link rel="apple-touch-icon" href="/apple-icon.png?cbb695fc79e3e9f8" type="image/png" sizes="180x180" />
    <meta name="next-size-adjust" />
    <script>
        window.POSTHOG_KEY = "phc_8h1T6DYsM416utBY2HpUYkyyBKyVErAyoNpFbtp2D9b";
    </script>
    <script src="chunks/polyfills-78c92fac7aa8fdd8.js" noModule=""></script>
</head>

<body>
    <nav class="web-nav-wrapper">
      <ul class="nav-container web-container">
        <!-- Logo -->
        <li class="tp-logo-holder">
          <a class="web-link txt-red" href="/">
            <img class="tp-logo" src="/img/sroo.png" alt="Logo" />
          </a>
        </li>
        <li><a href="/#show" class="web-link">Features</a></li>
        <li><a href="/#howitworks" class="web-link">How It Works</a></li>
        <li><a href="/support" class="web-link">Support</a></li>
        <li><a href="/premium" class="web-link" style="color: gold;">Go Premium</a></li>

        <!-- Install/Watch Button -->
        <li>
          <a class="install-href web-link install-btn install-btn-gradient install-desktop" href="templates/index2.html" target="_blank">
            <div class="web-mobile">Watch</div>
            <div class="web-desktop">Install Daarjaa</div>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Mobile Menu -->
    <div class="mobile-menu-holder">
      <div class="mobile-menu-link">
        <div class="mobile-menu-hyphen"></div>
        <a class="mobile-menu-link-header web-link" href="/#show">Features</a>
      </div>
      <div class="mobile-menu-link">
        <div class="mobile-menu-hyphen"></div>
        <a class="mobile-menu-link-header web-link" href="/#howitworks">How It Works</a>
      </div>
      <div class="mobile-menu-link">
        <div class="mobile-menu-hyphen"></div>
        <a class="mobile-menu-link-header web-link" href="/support">Support</a>
      </div>
      <button class="install-btn-gradient install-btn !h-10 !w-full" style="width:100% !important;height:2.5rem !important;">
        <a class="install-href web-link" href="https://www.teleparty.com/mobile-beta" target="_blank">
          Join the Mobile Waitlist
        </a>
      </button>
    </div>

    <main>
        <section id="landing" class="web-wrapper base-black-bg pt-11">
            <div class="landing-container web-container !pb-0">
                <div class="content">
                    <p class="web-caption white-35">WATCH WITH FRIENDS</p>
                    <h1 class="web-title txt-white">A new way to watch together</h1>
                    <p class="web-txt white-5"> Daarjaa.com is a new way to watch TV with your friends
                        online.<br /><br />Daarjaa. synchronizes video playback and adds group chat to Netflix, Disney
                        Plus, Hulu, HBO Max, and Amazon Prime.</p>
                    <div class="install-holder"><button class="install-btn-gradient install-btn web-desktop"><a
                                class="install-href web-link hero-section"
                                href="https:"/
                                target="_blank">Get Watch ToGetHer</a></button></div>
                    <p class="web-caption white-35 web-desktop">*Available on Chrome, Edge, Firefox, &amp; Safari
                        Browsers</p>
                </div>
                <div class="display"><video class="r-b-r" playsInline="" autoPlay="" loop="" muted="">
                        <source src="https://netflixparty.b-cdn.net/img/land/landing_teleparty.mp4" type="video/mp4" />
                    </video></div>
            </div>
            <div class="web-container">
                <p class="web-caption white-35">Host a Watch Party on</p>
                <div class="services-container h-28"><a class="services-image" href="/netflix"><img
                            alt="Netflix Watch Party" loading="lazy" decoding="async" data-nimg="fill" class="w-full"
                            style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                            src="https://netflixparty.b-cdn.net/img/refactor/platform_icons/Netflix_Full_Logo_Red.svg" /></a>
                    <a class="services-image" href="/youtube"><img alt="Youtube Watch Party" loading="lazy"
                            decoding="async" data-nimg="fill" class="w-full"
                            style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                            src="https://netflixparty.b-cdn.net/img/refactor/platform_icons/YouTube_Full_Logo_White.svg" /></a><a
                        class="services-image" href="/disney-plus"><img alt="Disney Plus Watch Party" loading="lazy"
                            decoding="async" data-nimg="fill" class="w-full"
                            style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                            src="https://netflixparty.b-cdn.net/img/refactor/platform_icons/Disney_Full_Logo_White.svg" /></a>
                    <a class="services-image" href="/hbo-max"><img alt="HBO Max Watch Party" loading="lazy"
                            decoding="async" data-nimg="fill" class="w-full"
                            style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                            src="https://netflixparty.b-cdn.net/img/refactor/platform_icons/HBO_Full_Logo_White.svg" /></a><a
                        class="services-image" href="/hulu"><img alt="Hulu Watch Party" loading="lazy" decoding="async"
                            data-nimg="fill" class="w-full"
                            style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                            src="https://netflixparty.b-cdn.net/img/refactor/platform_icons/Hulu_Full_Logo_Green.svg" /></a>
                    <a class="services-image" href="/amazon-prime-video"><img alt="Amazon Watch Party" loading="lazy"
                            decoding="async" data-nimg="fill" class="w-full"
                            style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                            src="https://netflixparty.b-cdn.net/img/refactor/platform_icons/Amazon_Full_Logo_White.svg" /></a>
                </div>
            </div>
        </section>
        <section id="show" class="web-wrapper base-white-bg">
            <div class="web-container">
                <div class="content">
                    <p class="web-caption white-35">MILLIONS OF SHOWS &amp; MOVIES</p>
                    <h2 class="web-title">Watch right on your favorite streaming sites</h2>
                    <p class="web-txt">Create watchparties in seconds right on the Netflix, Youtube, Hulu, Disney Plus,
                        HBO Max, and Amazon Prime websites to stream millions of great shows together with friends.</p>
                </div>
                <div class="display-align-right"><video class="img-videos r-boxshadow" playsInline="" autoPlay=""
                        loop="" muted="">
                        <source src="https://netflixparty.b-cdn.net/img/land/landingpage_shows.mp4" type="video/mp4" />
                    </video></div>
            </div>
        </section>
        <section id="sync" class="web-wrapper">
            <div class="web-container">
                <div class="content">
                    <p class="web-caption white-35">SYNCHRONIZE WITH YOUR FRIENDS</p>
                    <h2 class="web-title">Sync Watchparties in HD</h2>
                    <p class="web-txt">Always stay precisely in sync when you&#x27;re watching TV shows together. Enjoy
                        HD video quality and fast buffering in all of your watchparties on both desktop and mobile
                        (soon).</p>
                </div>
                <div class="display desktop-flip">
                    <div class="sync-vid-wrap"><video class="img-videos r-boxshadow" playsInline="" autoPlay="" loop=""
                            muted="">
                            <source src="https://netflixparty.b-cdn.net/img/land/landingpage-synchronization.mp4"
                                type="video/mp4" />
                        </video></div>
                </div>
            </div>
        </section>
        <section id="friend" class="web-wrapper base-white-bg">
            <div class="web-container">
                <div class="content">
                    <p class="web-caption white-35">MAKE IT YOURS</p>
                    <h2 class="web-title">Customize your watchparty</h2>
                    <p class="web-txt">Customize your watchparty by choosing a fun user icon and nickname. Choose from a
                        large array of themed icons and make the experience yours!</p>
                </div>
                <div class="display-align-right">
                    <div class="friend-vidWrap"><video class="img-videos r-boxshadow" playsInline="" autoPlay="" loop=""
                            muted="">
                            <source src="profile.mp4"
                                type="video/mp4" />
                        </video></div>
                </div>
            </div>
        </section>
        <section id="howitworks" class="web-wrapper">
            <div class="web-container">
                <div class="content">
                    <div>
                        <h2 class="web-title web-
            </div>
            <div class=" display desktop-flip">
                            <h2 class="web-title web-
                <div class=" panel web-desktop mt-2 block" id="hiw-active-content">
                    </div>
                </div>
            </div>
        </section>
        <section id="question" class="web-wrapper black-25-bg">
            <div class="web-container footer-container">
                <div class="footer-main-section"><a class="web-link txt-red mb-1 text-2xl" href="/">Daarjaaga
                        chudu</a><a href="https://discord.gg/FBXbsXJEJB" rel="nofollow" target="_blank"><img
                            alt="Join the Teleparty Discord" loading="lazy" width="73" height="20" decoding="async"
                            data-nimg="1" class="discord-image" style="color:transparent"
                            src="/img/sroo.png" /></a></div>
                <div class="footer-section">
                    <p class="web-txt txt-red">Resources</p><a href="/support" target="_blank"
                        class="footer-link web-txt txt-white">Support</a>
                </div>
                <div class="footer-section">
                    <p class="web-txt txt-red">Policies</p><a href="/privacy" target="_blank"
                        class="footer-link web-txt txt-white">Privacy</a>
                </div>
                <div class="footer-section">
                    <p class="web-txt txt-red">Need Help? Email us at: </p><a
                        href="/cdn-cgi/l/email-protection#2a5e4f4b476a5e4f464f5a4b585e5304494547" target="_blank"
                        class="footer-link web-txt txt-white"><span class="__cf_email__"
                            data-cfemail="235746424e6357464f46534251575a0d404c4e">reply@vjmsol.com</span></a>
                </div>
            </div>
        </section>
</body>

</html>